In [9]:
import pandas as pd

# K-NN Classifier

In [10]:
# reading the data- phishing websites
web = pd.read_csv("Phishing_websites-1.csv")
web.head(2)

   Age_of_web  num_of_dots_inURL  Phishing
0           1                  5         1
1           5                  6         1

In [11]:
#### Steps:
# we need to know the problem
# we read the data
# creating features in target sets
# import the machine learning algorithim (class)
# define the model (specifying our model's parameters values)
# fit (train) the model
# evaluate the performance of our model
# use the model to make predictions for new unseen data

In [12]:
#creating features and target sets
# first two columns are our features
# "Phishung" is the target var
x_web = web.iloc[:, :2]
y_web = web['Phishing']     # for target set, we want it 1-dim
# checking our work
x_web.head(2)

   Age_of_web  num_of_dots_inURL
0           1                  5
1           5                  6

In [13]:
# checking our work
y_web.head(2)

0    1
1    1
Name: Phishing, dtype: int64

In [14]:
# importing the algorithm
from sklearn.neighbors import KNeighborsClassifier

In [15]:
# define the model
knn_cls = KNeighborsClassifier(n_neighbors=3)

In [16]:
# fit (train) the model -- we pass both features and target sets
# we use fit() method to fit a model
knn_cls.fit(x_web, y_web)

KNeighborsClassifier(n_neighbors=3)

In [17]:
# we evaluate our model's performance
# we use score() method
knn_cls.score(x_web, y_web)

0.95

In [18]:
# make predictions
# we use predict() method -- it only takes features
w1 = [38, 2]
w2 = [4, 9]
w3 = [100, 3]
knn_cls.predict([w1, w2, w3])

/Users/ryanmaki/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsClassifier was fitted with feature names
  warnings.warn(

array([0, 1, 0])

In [19]:
x_web

    Age_of_web  num_of_dots_inURL
0            1                  5
1            5                  6
2            6                  6
3            2                  7
4            4                  5
5            1                  4
6            3                  7
7            4                  5
8            1                  4
9            4                  4
10          22                  4
11          11                  5
12          17                  1
13          14                  2
14          21                  1
15          20                  1
16          22                  5
17          13                  5
18          23                  4
19          20                  3

In [20]:
knn_cls.predict(x_web)

array([1, 1, 1, 1, 1, 1, 1, 1, 1, 1, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0])

In [21]:
y_web

0     1
1     1
2     1
3     1
4     1
5     1
6     1
7     1
8     1
9     0
10    0
11    0
12    0
13    0
14    0
15    0
16    0
17    0
18    0
19    0
Name: Phishing, dtype: int64

# KNN Regressor

In [22]:
# reading the data
house1f = pd.read_csv('House_1feature-1.csv')
print(house1f.shape)
house1f.head(2)

(36, 2)

   Square_feet   Price
0         1349  147703
1          897  178239

In [23]:
# creating features and target sets
# we have only one feature (Square_feet), we want
# the feature set to be 2-dim
# target set shoudl be 1-dim
x_house = house1f[['Square_feet']]
y_house = house1f['Price']
# checking our work
display(x_house.head(1))
display(y_house.head(1))

   Square_feet
0         1349

0    147703
Name: Price, dtype: int64

In [24]:
# importing the algorithm
from sklearn.neighbors import KNeighborsRegressor

In [25]:
# define the model
knn_reg = KNeighborsRegressor(n_neighbors=3)

In [26]:
# fit (train) the model -- we pass both features and target sets into the model
# we use fit() method to fit a model
knn_reg.fit(x_house, y_house)

KNeighborsRegressor(n_neighbors=3)

In [27]:
# we evaluate our model's performance
# we have the score() method for regressors as well
# the output of score method in regression is R2
knn_reg.score(x_house, y_house).round(2)

0.86

In [28]:
# make predictions
# we use predict() method -- it only takes features
h1 = [1500]
h2 = [7000]
knn_reg.predict([h1, h2]).round(2)

/Users/ryanmaki/opt/anaconda3/lib/python3.9/site-packages/sklearn/base.py:450: UserWarning: X does not have valid feature names, but KNeighborsRegressor was fitted with feature names
  warnings.warn(

array([230502.  , 320258.67])

In [29]:
# how to avoid getting the warning
h=pd.DataFrame(data={'Square_feet':[1500,7000]})
h

   Square_feet
0         1500
1         7000

In [30]:
knn_reg.predict(h).round()

array([230502., 320259.])

# fair evaluation

## Breast Cancer Data

In [31]:
# reading the data
cancer = pd.read_csv("breast_cancer_data-1.csv", index_col=0)
cancer.head(3)

,diagnosis,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
id,,,,,,,,,,,,,,,,,,,,,
842302,M,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
842517,M,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902
84300903,M,19.69,21.25,130.0,1203.0,0.10960,0.15990,0.1974,0.12790,0.2069,...,23.57,25.53,152.5,1709.0,0.1444,0.4245,0.4504,0.2430,0.3613,0.08758

In [32]:
# creating features and target sets
# diagnosis is target, everything else is a feature
x_cancer = cancer.iloc[:,1:]
y_cancer = cancer['diagnosis']     # for target set, we want it 1-dim
# checking our work
display(x_cancer.head(2))
display(y_cancer.head(2))

,radius_mean,texture_mean,perimeter_mean,area_mean,smoothness_mean,compactness_mean,concavity_mean,concave points_mean,symmetry_mean,fractal_dimension_mean,...,radius_worst,texture_worst,perimeter_worst,area_worst,smoothness_worst,compactness_worst,concavity_worst,concave points_worst,symmetry_worst,fractal_dimension_worst
id,,,,,,,,,,,,,,,,,,,,,
842302,17.99,10.38,122.8,1001.0,0.11840,0.27760,0.3001,0.14710,0.2419,0.07871,...,25.38,17.33,184.6,2019.0,0.1622,0.6656,0.7119,0.2654,0.4601,0.11890
842517,20.57,17.77,132.9,1326.0,0.08474,0.07864,0.0869,0.07017,0.1812,0.05667,...,24.99,23.41,158.8,1956.0,0.1238,0.1866,0.2416,0.1860,0.2750,0.08902

id
842302    M
842517    M
Name: diagnosis, dtype: object

In [33]:
# partitioning the data to train and test
# we use train_test_split function
# import it first
from sklearn.model_selection import train_test_split

In [34]:
# partition to train and test
# the order is important
# imputs are features and target sets (and also random_state)
x_train, x_test, y_train, y_test = train_test_split(x_cancer, y_cancer, random_state=12)

In [35]:
# check our work
print('initial features set size:', x_cancer.shape)
print("x_train shape:", x_train.shape)
print("x_train shape:", x_test.shape)

print("y_train shape:", y_train.shape)
print("y_train shape:", y_test.shape)

initial features set size: (569, 30)
x_train shape: (426, 30)
x_train shape: (143, 30)
y_train shape: (426,)
y_train shape: (143,)

In [36]:
from sklearn.neighbors import KNeighborsClassifier

In [40]:
# define the model
knn_cls_cancer = KNeighborsClassifier(n_neighbors = 7)
# fit the model -- using training data
knn_cls_cancer.fit(x_train, y_train)

KNeighborsClassifier(n_neighbors=7)

In [42]:
print('knn accuracy on training data:', knn_cls_cancer.score(x_train, y_train))
print('knn accuracy on  test data:', knn_cls_cancer.score(x_test, y_test))

knn accuracy on training data: 0.9460093896713615
knn accuracy on  test data: 0.8951048951048951

## Boston Housing Data

In [43]:
# reading the data
boston = pd.read_csv("boston_housing_data-1.csv", index_col=0)
boston.head(3)

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat,target_medv
ID,,,,,,,,,,,,,
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.0900,1,296,15.3,4.98,24.0
2,0.02731,0.0,7.07,0,0.469,6.421,78.9,4.9671,2,242,17.8,9.14,21.6
4,0.03237,0.0,2.18,0,0.458,6.998,45.8,6.0622,3,222,18.7,2.94,33.4

In [44]:
# creating features and target sets
# target_medv is target, everything else is a feature
x_boston, y_boston = boston.iloc[:,:-1], boston.iloc[:,-1]
display(x_boston.head(1))
display(y_boston.head(1))

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat
ID,,,,,,,,,,,,
1,0.00632,18.0,2.31,0,0.538,6.575,65.2,4.09,1,296,15.3,4.98

ID
1    24.0
Name: target_medv, dtype: float64

In [45]:
# splitting train and test
from sklearn.model_selection import train_test_split
x_train1, x_test1, y_train1, y_test1 = train_test_split(x_boston, y_boston, random_state = 0)

In [48]:
# check our work
print('initial features set size:', x_boston.shape)
print("x_train1 shape:", x_train1.shape)
print("x_train1 shape:", x_test1.shape)

print("y_train1 shape:", y_train1.shape)
print("y_train1 shape:", y_test1.shape)

initial features set size: (333, 12)
x_train1 shape: (249, 12)
x_train1 shape: (84, 12)
y_train1 shape: (249,)
y_train1 shape: (84,)

In [54]:
# import and define the model
from sklearn.neighbors import KNeighborsRegressor
knn_reg_boston = KNeighborsRegressor(n_neighbors = 7)

In [55]:
# fit the model -- using training data
knn_reg_boston.fit(x_train1, y_train1)

KNeighborsRegressor(n_neighbors=7)

In [56]:
print('knn R-square on training data:', knn_reg_boston.score(x_train1, y_train1))
print('knn R-square on  test data:', knn_reg_boston.score(x_test1, y_test1))

knn accuracy on training data: 0.6689504699125224
knn accuracy on  test data: 0.5948482141230736

In [57]:
# do some predictions
x_test1

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat
ID,,,,,,,,,,,,
84,0.03551,25.0,4.86,0,0.426,6.167,46.7,5.4007,4,281,19.0,7.51
81,0.04113,25.0,4.86,0,0.426,6.727,33.5,5.4007,4,281,19.0,5.29
429,7.36711,0.0,18.10,0,0.679,6.193,78.1,1.9356,24,666,20.2,21.52
150,2.73397,0.0,19.58,0,0.871,5.597,94.9,1.5257,5,403,14.7,21.45
87,0.05188,0.0,4.49,0,0.449,6.015,45.1,4.4272,3,247,18.5,12.86
...,...,...,...,...,...,...,...,...,...,...,...,...
337,0.03427,0.0,5.19,0,0.515,5.869,46.3,5.2311,5,224,20.2,9.80
303,0.09266,34.0,6.09,0,0.433,6.495,18.4,5.4917,7,329,16.1,8.67
385,20.08490,0.0,18.10,0,0.700,4.368,91.2,1.4395,24,666,20.2,30.63
390,8.15174,0.0,18.10,0,0.700,5.390,98.9,1.7281,24,666,20.2,20.85
498,0.26838,0.0,9.69,0,0.585,5.794,70.6,2.8927,6,391,19.2,14.10

In [59]:
smpl = x_test1.iloc[:4]
smpl

,crim,zn,indus,chas,nox,rm,age,dis,rad,tax,ptratio,lstat
ID,,,,,,,,,,,,
84,0.03551,25.0,4.86,0,0.426,6.167,46.7,5.4007,4,281,19.0,7.51
81,0.04113,25.0,4.86,0,0.426,6.727,33.5,5.4007,4,281,19.0,5.29
429,7.36711,0.0,18.10,0,0.679,6.193,78.1,1.9356,24,666,20.2,21.52
150,2.73397,0.0,19.58,0,0.871,5.597,94.9,1.5257,5,403,14.7,21.45

In [60]:
# prediction
knn_reg_boston.predict(smpl)

array([26.77142857, 28.14285714, 16.87142857, 17.51428571])

In [61]:
# actual values in y test
y_test1.head(4)

ID
84     22.9
81     28.0
429    11.0
150    15.4
Name: target_medv, dtype: float64

## Diabetes Data

In [98]:
# reading the data
diabetes = pd.read_csv("diabetes-1.csv")
diabetes.head(5)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1

In [99]:
# creating features and target sets
# target_medv is target, everything else is a feature
x_diabetes, y_diabetes = diabetes.iloc[:,:-1], diabetes.iloc[:,-1]
# checking work
display(x_diabetes.head(3))
display(y_diabetes.head(3))

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
0,6,148,72,35,0,33.6,0.627,50
1,1,85,66,29,0,26.6,0.351,31
2,8,183,64,0,0,23.3,0.672,32

0    1
1    0
2    1
Name: Outcome, dtype: int64

In [100]:
# partitioning the data to train and test
# we use train_test_split function
# import it first
from sklearn.model_selection import train_test_split

In [101]:
# partition to train and test
# the order is important
# imputs are features and target sets (and also random_state)
x_train2, x_test2, y_train2, y_test2 = train_test_split(x_diabetes, y_diabetes, random_state=4)

In [102]:
# check our work
print('initial features set size:', x_diabetes.shape)
print("x_train shape:", x_train2.shape)
print("x_train shape:", x_test2.shape)

print("y_train shape:", y_train2.shape)
print("y_train shape:", y_test2.shape)

initial features set size: (768, 8)
x_train shape: (576, 8)
x_train shape: (192, 8)
y_train shape: (576,)
y_train shape: (192,)

In [103]:
from sklearn.neighbors import KNeighborsClassifier

In [104]:
# define the model
knn_cls_diabetes = KNeighborsClassifier(n_neighbors = 7)
# fit the model -- using training data
knn_cls_diabetes.fit(x_train2, y_train2)

KNeighborsClassifier(n_neighbors=7)

In [105]:
print('knn accuracy on training data:', knn_cls_diabetes.score(x_train2, y_train2))
print('knn accuracy on  test data:', knn_cls_diabetes.score(x_test2, y_test2))

knn accuracy on training data: 0.7847222222222222
knn accuracy on  test data: 0.7708333333333334

In [107]:
x_test2.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age
count,192.00000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000,192.000000
mean,3.96875,122.640625,71.359375,20.635417,71.447917,32.564062,0.461307,33.645833
std,3.46396,33.568107,17.617549,15.864029,115.929467,6.591428,0.330053,11.783811
min,0.00000,44.000000,0.000000,0.000000,0.000000,19.100000,0.078000,21.000000
25%,1.00000,99.000000,64.750000,0.000000,0.000000,27.600000,0.233250,24.000000
50%,3.00000,118.500000,74.000000,22.000000,0.000000,32.450000,0.366500,29.000000
75%,6.00000,145.250000,80.500000,33.000000,120.000000,36.325000,0.598500,41.000000
max,17.00000,199.000000,122.000000,50.000000,744.000000,50.000000,2.329000,70.000000

# Started Test Here

In [93]:
df=pd.read_csv('diabetes-1.csv')
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

In [97]:
df.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000,768.000000
mean,3.845052,120.894531,69.105469,20.536458,79.799479,31.992578,0.471876,33.240885,0.348958
std,3.369578,31.972618,19.355807,15.952218,115.244002,7.884160,0.331329,11.760232,0.476951
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.078000,21.000000,0.000000
25%,1.000000,99.000000,62.000000,0.000000,0.000000,27.300000,0.243750,24.000000,0.000000
50%,3.000000,117.000000,72.000000,23.000000,30.500000,32.000000,0.372500,29.000000,0.000000
75%,6.000000,140.250000,80.000000,32.000000,127.250000,36.600000,0.626250,41.000000,1.000000
max,17.000000,199.000000,122.000000,99.000000,846.000000,67.100000,2.420000,81.000000,1.000000

In [77]:
df1 = df.copy

In [80]:
Insulinatmost200=df['Insulin']<200
Pregmore1=df['Pregnancies']==1
df[Insulinatmost200 & Pregmore1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
18,1,103,30,38,83,43.3,0.183,33,0
19,1,115,70,30,96,34.6,0.529,32,1
27,1,97,66,15,140,23.2,0.487,22,0
...,...,...,...,...,...,...,...,...,...
751,1,121,78,39,74,39.0,0.261,28,0
755,1,128,88,39,110,36.5,1.057,37,1
758,1,106,76,0,0,37.5,0.197,26,0
766,1,126,60,0,0,30.1,0.349,47,1
767,1,93,70,31,0,30.4,0.315,23,0

In [83]:
df[(df['Insulin']<200)&(df['Pregnancies']>1)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1
7,10,115,0,0,0,35.3,0.134,29,0
...,...,...,...,...,...,...,...,...,...
761,9,170,74,31,0,44.0,0.403,43,1
762,9,89,62,0,0,22.5,0.142,33,0
763,10,101,76,48,180,32.9,0.171,63,0
764,2,122,70,27,0,36.8,0.340,27,0
765,5,121,72,23,112,26.2,0.245,30,0