In [1]:
import pandas as pd

In [2]:
# read diabetes data -- the original diabetes data
df=pd.read_csv('diabetes-1.csv')
df.head(2)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0

# Querying DataFrames

In [3]:
df2=df.iloc[:7].copy()
df2

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1

In [4]:
# boolean mask to query DataFrames
# get patients who have been pregnant more than 2 times
df2['Pregnancies']>2

0     True
1    False
2     True
3    False
4    False
5     True
6     True
Name: Pregnancies, dtype: bool

In [5]:
# we pass boolean masks to our data using []
df2[df2['Pregnancies']>2]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1

In [6]:
# get the patiesnts that at most 32 years -- age<=32
# can store the reslts in new variable if we want to
atmost32=df2['Age']<=32
atmost32

0    False
1     True
2     True
3     True
4    False
5     True
6     True
Name: Age, dtype: bool

In [7]:
df2[atmost32]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1

In [8]:
# pass the condition directly
# same as what de just did; passes it directly into boolean mask
df2[df2['Age']<=32]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
2,8,183,64,0,0,23.3,0.672,32,1
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1

In [9]:
# get patients who are younger than 32-- age<32
younger32=df2['Age']<32
df2[younger32]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1

In [10]:
# patients with pregnancies not equal to 1 (either 0 or more than 1)
# to do "not equal to", use the != operator
pregNot1=(df2['Pregnancies']!=1)
df2[pregNot1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
4,0,137,40,35,168,43.1,2.288,33,1
5,5,116,74,0,0,25.6,0.201,30,0
6,3,78,50,32,88,31.0,0.248,26,1

In [11]:
# patients with BP at least 64 AND being pregnant more than once
# can query more than one variable at a time
BPatleast64=df2['BloodPressure']>=64
Pregmore1=df2['Pregnancies']>1
df2[BPatleast64 & Pregmore1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
5,5,116,74,0,0,25.6,0.201,30,0

In [12]:
df2[(df2['BloodPressure']>=64)&(df2['Pregnancies']>1)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
2,8,183,64,0,0,23.3,0.672,32,1
5,5,116,74,0,0,25.6,0.201,30,0

In [13]:
## in the original df
# the number of patiets patients with BP at least 64 AND being pregnant more than once
# must use .shape to see how many there are actually in the data set
BPatleast64=df['BloodPressure']>=64
Pregmore1=df['Pregnancies']>1
df[BPatleast64 & Pregmore1].shape

(401, 9)

In [14]:
# can also use the len function instead of .shape to find number of rows
len(df[BPatleast64 & Pregmore1])

401

In [15]:
# back to df2
# patients with BMI more than 30 OR being pregnant exactly once
# OR sing (|), shift+baclslash (right above Enter key) (MUST DO OR THIS WAY)
BMImore30=df2['BMI']>30
preg1=(df2['Pregnancies']==1)
df2[BMImore30 | preg1]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
4,0,137,40,35,168,43.1,2.288,33,1
6,3,78,50,32,88,31.0,0.248,26,1

In [16]:
# paranthsese matter!
# patients (younger than 32 AND BP above 65) OR Glucose is 148
# HOW TO USE AN "AND" AND AN "OR" IN THE SAME STATEMENT
con1=df2['Age']<32
con2=df2['BloodPressure']>65
con3=df2['Glucose']==148
df2[(con1 & con2) | con3]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
0,6,148,72,35,0,33.6,0.627,50,1
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0

In [17]:
# patients younger than 32 AND (BP above 65 OR Glucose is 148)
df2[con1 & (con2 | con3)]

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
1,1,85,66,29,0,26.6,0.351,31,0
3,1,89,66,23,94,28.1,0.167,21,0
5,5,116,74,0,0,25.6,0.201,30,0

# Handling missing values

In [18]:
# read diabetes_w_missing data
df_miss=pd.read_csv('diabetes_w_missing-1.csv')
df_miss

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,148.0,72.0,35.0,0,33.6,0.627,50,1,Male
1,1,85.0,66.0,29.0,0,26.6,0.351,31,0,Male
2,8,183.0,64.0,0.0,0,23.3,0.672,32,1,Female
3,1,89.0,66.0,23.0,94,NaN,0.167,21,0,NaN
4,0,137.0,40.0,35.0,168,43.1,2.288,33,1,Male
5,5,116.0,74.0,0.0,0,25.6,0.201,30,0,Female
6,3,NaN,50.0,32.0,88,31.0,0.248,26,1,NaN
7,10,115.0,0.0,0.0,0,35.3,0.134,29,0,Female
8,2,197.0,70.0,45.0,543,30.5,0.158,53,1,Female
9,8,125.0,96.0,NaN,0,0.0,0.232,54,1,Female
10,4,110.0,92.0,0.0,0,NaN,0.191,30,0,Female
11,10,168.0,74.0,0.0,0,38.0,0.537,34,1,Female
12,10,NaN,80.0,0.0,0,27.1,1.441,57,0,Female
13,1,189.0,60.0,23.0,846,30.1,0.398,59,1,Female
14,5,166.0,72.0,19.0,175,25.8,0.587,51,1,Female
15,7,100.0,0.0,0.0,0,30.0,0.484,32,1,Female
16,0,118.0,84.0,47.0,230,45.8,0.551,31,1,Female
17,7,107.0,74.0,0.0,0,NaN,0.254,31,1,Female
18,1,NaN,30.0,38.0,83,43.3,0.183,33,0,Female
19,1,115.0,70.0,30.0,96,34.6,0.529,32,1,Female
20,3,126.0,88.0,41.0,235,39.3,0.704,27,0,Female
21,8,99.0,84.0,0.0,0,35.4,0.388,50,0,Female
22,7,196.0,NaN,0.0,0,39.8,0.451,41,1,Female
23,9,119.0,80.0,35.0,0,29.0,0.263,29,1,Male
24,11,143.0,94.0,33.0,146,36.6,0.254,51,1,Male
25,10,125.0,70.0,26.0,115,31.1,0.205,41,1,Male
26,7,NaN,76.0,0.0,0,NaN,0.257,43,1,Male
27,1,97.0,66.0,15.0,140,23.2,0.487,22,0,Male
28,13,145.0,82.0,19.0,110,22.2,0.245,57,0,Male
29,5,117.0,92.0,0.0,0,34.1,0.337,38,0,Male
30,5,109.0,75.0,26.0,0,36.0,0.546,60,0,Male
31,3,NaN,76.0,36.0,245,31.6,0.851,28,1,Female
32,3,88.0,58.0,11.0,54,24.8,0.267,22,0,Female
33,6,92.0,92.0,0.0,0,19.9,0.188,28,0,Female
34,10,122.0,78.0,31.0,0,NaN,0.512,45,0,Female
35,4,103.0,60.0,33.0,192,24.0,0.966,33,0,Female
36,11,138.0,76.0,0.0,0,33.2,0.420,35,0,Female
37,9,102.0,76.0,37.0,0,32.9,0.665,46,1,Female
38,2,90.0,68.0,NaN,0,NaN,0.503,27,1,Female
39,4,111.0,72.0,47.0,207,37.1,1.390,56,1,Female
40,3,180.0,64.0,25.0,70,34.0,0.271,26,0,Female
41,7,133.0,84.0,0.0,0,40.2,0.696,37,0,Female
42,7,106.0,92.0,18.0,0,22.7,0.235,48,0,Female
43,9,171.0,110.0,24.0,240,45.4,0.721,54,1,Female
44,7,159.0,64.0,0.0,0,27.4,0.294,40,0,Female
45,0,180.0,66.0,39.0,0,42.0,1.893,25,1,Female
46,1,146.0,56.0,0.0,0,29.7,0.564,29,0,Female
47,1,93.0,70.0,31.0,0,30.4,0.315,23,0,Female

We can handle missing values in two ways:
    
    1-- drop them (either rows or columns)
    
    2-- fill them (impute them)

## dropping missing values

In [19]:
# getting info on dataset
# look at non-null count
df_miss.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 48 entries, 0 to 47
Data columns (total 10 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   Pregnancies               48 non-null     int64
 1   Glucose                   43 non-null     float64
 2   BloodPressure             47 non-null     float64
 3   SkinThickness             46 non-null     float64
 4   Insulin                   48 non-null     int64
 5   BMI                       42 non-null     float64
 6   DiabetesPedigreeFunction  48 non-null     float64
 7   Age                       48 non-null     int64
 8   Outcome                   48 non-null     int64
 9   Gender                    46 non-null     object
dtypes: float64(5), int64(4), object(1)
memory usage: 3.9+ KB

In [20]:
# describing dataset
## use count row to tell if there are any missing values
df_miss.describe()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome
count,48.000000,43.000000,47.000000,46.000000,48.000000,42.000000,48.000000,48.000000,48.000000
mean,5.333333,129.255814,70.276596,19.195652,84.937500,31.564286,0.523354,37.708333,0.500000
std,3.586816,32.488894,20.720398,16.564513,155.421788,8.323075,0.436437,11.524181,0.505291
min,0.000000,85.000000,0.000000,0.000000,0.000000,0.000000,0.134000,21.000000,0.000000
25%,2.000000,104.500000,65.000000,0.000000,0.000000,26.725000,0.252500,29.000000,0.000000
50%,5.000000,119.000000,72.000000,23.000000,0.000000,31.350000,0.409000,33.000000,0.500000
75%,8.000000,147.000000,81.000000,33.000000,121.250000,36.450000,0.597000,48.500000,1.000000
max,13.000000,197.000000,110.000000,47.000000,846.000000,45.800000,2.288000,60.000000,1.000000

In [21]:
# drop rows with missing (the default)
df_miss.dropna()

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,148.0,72.0,35.0,0,33.6,0.627,50,1,Male
1,1,85.0,66.0,29.0,0,26.6,0.351,31,0,Male
2,8,183.0,64.0,0.0,0,23.3,0.672,32,1,Female
4,0,137.0,40.0,35.0,168,43.1,2.288,33,1,Male
5,5,116.0,74.0,0.0,0,25.6,0.201,30,0,Female
7,10,115.0,0.0,0.0,0,35.3,0.134,29,0,Female
8,2,197.0,70.0,45.0,543,30.5,0.158,53,1,Female
11,10,168.0,74.0,0.0,0,38.0,0.537,34,1,Female
13,1,189.0,60.0,23.0,846,30.1,0.398,59,1,Female
14,5,166.0,72.0,19.0,175,25.8,0.587,51,1,Female
15,7,100.0,0.0,0.0,0,30.0,0.484,32,1,Female
16,0,118.0,84.0,47.0,230,45.8,0.551,31,1,Female
19,1,115.0,70.0,30.0,96,34.6,0.529,32,1,Female
20,3,126.0,88.0,41.0,235,39.3,0.704,27,0,Female
21,8,99.0,84.0,0.0,0,35.4,0.388,50,0,Female
23,9,119.0,80.0,35.0,0,29.0,0.263,29,1,Male
24,11,143.0,94.0,33.0,146,36.6,0.254,51,1,Male
25,10,125.0,70.0,26.0,115,31.1,0.205,41,1,Male
27,1,97.0,66.0,15.0,140,23.2,0.487,22,0,Male
28,13,145.0,82.0,19.0,110,22.2,0.245,57,0,Male
29,5,117.0,92.0,0.0,0,34.1,0.337,38,0,Male
30,5,109.0,75.0,26.0,0,36.0,0.546,60,0,Male
32,3,88.0,58.0,11.0,54,24.8,0.267,22,0,Female
33,6,92.0,92.0,0.0,0,19.9,0.188,28,0,Female
35,4,103.0,60.0,33.0,192,24.0,0.966,33,0,Female
36,11,138.0,76.0,0.0,0,33.2,0.420,35,0,Female
37,9,102.0,76.0,37.0,0,32.9,0.665,46,1,Female
39,4,111.0,72.0,47.0,207,37.1,1.390,56,1,Female
40,3,180.0,64.0,25.0,70,34.0,0.271,26,0,Female
41,7,133.0,84.0,0.0,0,40.2,0.696,37,0,Female
42,7,106.0,92.0,18.0,0,22.7,0.235,48,0,Female
43,9,171.0,110.0,24.0,240,45.4,0.721,54,1,Female
44,7,159.0,64.0,0.0,0,27.4,0.294,40,0,Female
45,0,180.0,66.0,39.0,0,42.0,1.893,25,1,Female
46,1,146.0,56.0,0.0,0,29.7,0.564,29,0,Female
47,1,93.0,70.0,31.0,0,30.4,0.315,23,0,Female

In [29]:
# dropping columns with missing (not the default, must change the axis option)
# if we want make the drops permanent, we set inplace to True
df_miss.dropna(axis=1)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,148.000000,72.000000,35.000000,0,33.600000,0.627,50,1,Male
1,1,85.000000,66.000000,29.000000,0,26.600000,0.351,31,0,Male
2,8,183.000000,64.000000,0.000000,0,23.300000,0.672,32,1,Female
3,1,89.000000,66.000000,23.000000,94,31.564286,0.167,21,0,Female
4,0,137.000000,40.000000,35.000000,168,43.100000,2.288,33,1,Male
5,5,116.000000,74.000000,0.000000,0,25.600000,0.201,30,0,Female
6,3,129.255814,50.000000,32.000000,88,31.000000,0.248,26,1,Female
7,10,115.000000,0.000000,0.000000,0,35.300000,0.134,29,0,Female
8,2,197.000000,70.000000,45.000000,543,30.500000,0.158,53,1,Female
9,8,125.000000,96.000000,19.195652,0,0.000000,0.232,54,1,Female
10,4,110.000000,92.000000,0.000000,0,31.564286,0.191,30,0,Female
11,10,168.000000,74.000000,0.000000,0,38.000000,0.537,34,1,Female
12,10,129.255814,80.000000,0.000000,0,27.100000,1.441,57,0,Female
13,1,189.000000,60.000000,23.000000,846,30.100000,0.398,59,1,Female
14,5,166.000000,72.000000,19.000000,175,25.800000,0.587,51,1,Female
15,7,100.000000,0.000000,0.000000,0,30.000000,0.484,32,1,Female
16,0,118.000000,84.000000,47.000000,230,45.800000,0.551,31,1,Female
17,7,107.000000,74.000000,0.000000,0,31.564286,0.254,31,1,Female
18,1,129.255814,30.000000,38.000000,83,43.300000,0.183,33,0,Female
19,1,115.000000,70.000000,30.000000,96,34.600000,0.529,32,1,Female
20,3,126.000000,88.000000,41.000000,235,39.300000,0.704,27,0,Female
21,8,99.000000,84.000000,0.000000,0,35.400000,0.388,50,0,Female
22,7,196.000000,70.276596,0.000000,0,39.800000,0.451,41,1,Female
23,9,119.000000,80.000000,35.000000,0,29.000000,0.263,29,1,Male
24,11,143.000000,94.000000,33.000000,146,36.600000,0.254,51,1,Male
25,10,125.000000,70.000000,26.000000,115,31.100000,0.205,41,1,Male
26,7,129.255814,76.000000,0.000000,0,31.564286,0.257,43,1,Male
27,1,97.000000,66.000000,15.000000,140,23.200000,0.487,22,0,Male
28,13,145.000000,82.000000,19.000000,110,22.200000,0.245,57,0,Male
29,5,117.000000,92.000000,0.000000,0,34.100000,0.337,38,0,Male
30,5,109.000000,75.000000,26.000000,0,36.000000,0.546,60,0,Male
31,3,129.255814,76.000000,36.000000,245,31.600000,0.851,28,1,Female
32,3,88.000000,58.000000,11.000000,54,24.800000,0.267,22,0,Female
33,6,92.000000,92.000000,0.000000,0,19.900000,0.188,28,0,Female
34,10,122.000000,78.000000,31.000000,0,31.564286,0.512,45,0,Female
35,4,103.000000,60.000000,33.000000,192,24.000000,0.966,33,0,Female
36,11,138.000000,76.000000,0.000000,0,33.200000,0.420,35,0,Female
37,9,102.000000,76.000000,37.000000,0,32.900000,0.665,46,1,Female
38,2,90.000000,68.000000,19.195652,0,31.564286,0.503,27,1,Female
39,4,111.000000,72.000000,47.000000,207,37.100000,1.390,56,1,Female
40,3,180.000000,64.000000,25.000000,70,34.000000,0.271,26,0,Female
41,7,133.000000,84.000000,0.000000,0,40.200000,0.696,37,0,Female
42,7,106.000000,92.000000,18.000000,0,22.700000,0.235,48,0,Female
43,9,171.000000,110.000000,24.000000,240,45.400000,0.721,54,1,Female
44,7,159.000000,64.000000,0.000000,0,27.400000,0.294,40,0,Female
45,0,180.000000,66.000000,39.000000,0,42.000000,1.893,25,1,Female
46,1,146.000000,56.000000,0.000000,0,29.700000,0.564,29,0,Female
47,1,93.000000,70.000000,31.000000,0,30.400000,0.315,23,0,Female

In [30]:
# because we did not make it permanent, the DataFrame goes back to normal
df_miss

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,148.000000,72.000000,35.000000,0,33.600000,0.627,50,1,Male
1,1,85.000000,66.000000,29.000000,0,26.600000,0.351,31,0,Male
2,8,183.000000,64.000000,0.000000,0,23.300000,0.672,32,1,Female
3,1,89.000000,66.000000,23.000000,94,31.564286,0.167,21,0,Female
4,0,137.000000,40.000000,35.000000,168,43.100000,2.288,33,1,Male
5,5,116.000000,74.000000,0.000000,0,25.600000,0.201,30,0,Female
6,3,129.255814,50.000000,32.000000,88,31.000000,0.248,26,1,Female
7,10,115.000000,0.000000,0.000000,0,35.300000,0.134,29,0,Female
8,2,197.000000,70.000000,45.000000,543,30.500000,0.158,53,1,Female
9,8,125.000000,96.000000,19.195652,0,0.000000,0.232,54,1,Female
10,4,110.000000,92.000000,0.000000,0,31.564286,0.191,30,0,Female
11,10,168.000000,74.000000,0.000000,0,38.000000,0.537,34,1,Female
12,10,129.255814,80.000000,0.000000,0,27.100000,1.441,57,0,Female
13,1,189.000000,60.000000,23.000000,846,30.100000,0.398,59,1,Female
14,5,166.000000,72.000000,19.000000,175,25.800000,0.587,51,1,Female
15,7,100.000000,0.000000,0.000000,0,30.000000,0.484,32,1,Female
16,0,118.000000,84.000000,47.000000,230,45.800000,0.551,31,1,Female
17,7,107.000000,74.000000,0.000000,0,31.564286,0.254,31,1,Female
18,1,129.255814,30.000000,38.000000,83,43.300000,0.183,33,0,Female
19,1,115.000000,70.000000,30.000000,96,34.600000,0.529,32,1,Female
20,3,126.000000,88.000000,41.000000,235,39.300000,0.704,27,0,Female
21,8,99.000000,84.000000,0.000000,0,35.400000,0.388,50,0,Female
22,7,196.000000,70.276596,0.000000,0,39.800000,0.451,41,1,Female
23,9,119.000000,80.000000,35.000000,0,29.000000,0.263,29,1,Male
24,11,143.000000,94.000000,33.000000,146,36.600000,0.254,51,1,Male
25,10,125.000000,70.000000,26.000000,115,31.100000,0.205,41,1,Male
26,7,129.255814,76.000000,0.000000,0,31.564286,0.257,43,1,Male
27,1,97.000000,66.000000,15.000000,140,23.200000,0.487,22,0,Male
28,13,145.000000,82.000000,19.000000,110,22.200000,0.245,57,0,Male
29,5,117.000000,92.000000,0.000000,0,34.100000,0.337,38,0,Male
30,5,109.000000,75.000000,26.000000,0,36.000000,0.546,60,0,Male
31,3,129.255814,76.000000,36.000000,245,31.600000,0.851,28,1,Female
32,3,88.000000,58.000000,11.000000,54,24.800000,0.267,22,0,Female
33,6,92.000000,92.000000,0.000000,0,19.900000,0.188,28,0,Female
34,10,122.000000,78.000000,31.000000,0,31.564286,0.512,45,0,Female
35,4,103.000000,60.000000,33.000000,192,24.000000,0.966,33,0,Female
36,11,138.000000,76.000000,0.000000,0,33.200000,0.420,35,0,Female
37,9,102.000000,76.000000,37.000000,0,32.900000,0.665,46,1,Female
38,2,90.000000,68.000000,19.195652,0,31.564286,0.503,27,1,Female
39,4,111.000000,72.000000,47.000000,207,37.100000,1.390,56,1,Female
40,3,180.000000,64.000000,25.000000,70,34.000000,0.271,26,0,Female
41,7,133.000000,84.000000,0.000000,0,40.200000,0.696,37,0,Female
42,7,106.000000,92.000000,18.000000,0,22.700000,0.235,48,0,Female
43,9,171.000000,110.000000,24.000000,240,45.400000,0.721,54,1,Female
44,7,159.000000,64.000000,0.000000,0,27.400000,0.294,40,0,Female
45,0,180.000000,66.000000,39.000000,0,42.000000,1.893,25,1,Female
46,1,146.000000,56.000000,0.000000,0,29.700000,0.564,29,0,Female
47,1,93.000000,70.000000,31.000000,0,30.400000,0.315,23,0,Female

## filling or imputing missing values

In [31]:
# mean values of columns
df_miss.mean()

/var/folders/yl/7fz36w6555x8lddq1hvcnv0r0000gn/T/ipykernel_40656/2374792673.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_miss.mean()

Pregnancies                   5.333333
Glucose                     129.255814
BloodPressure                70.276596
SkinThickness                19.195652
Insulin                      84.937500
BMI                          31.564286
DiabetesPedigreeFunction      0.523354
Age                          37.708333
Outcome                       0.500000
dtype: float64

In [32]:
# filling missing values with mean
df_miss.fillna(value=df_miss.mean(),inplace=True)
df_miss

/var/folders/yl/7fz36w6555x8lddq1hvcnv0r0000gn/T/ipykernel_40656/2774971789.py:2: FutureWarning: The default value of numeric_only in DataFrame.mean is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df_miss.fillna(value=df_miss.mean(),inplace=True)

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,148.000000,72.000000,35.000000,0,33.600000,0.627,50,1,Male
1,1,85.000000,66.000000,29.000000,0,26.600000,0.351,31,0,Male
2,8,183.000000,64.000000,0.000000,0,23.300000,0.672,32,1,Female
3,1,89.000000,66.000000,23.000000,94,31.564286,0.167,21,0,Female
4,0,137.000000,40.000000,35.000000,168,43.100000,2.288,33,1,Male
5,5,116.000000,74.000000,0.000000,0,25.600000,0.201,30,0,Female
6,3,129.255814,50.000000,32.000000,88,31.000000,0.248,26,1,Female
7,10,115.000000,0.000000,0.000000,0,35.300000,0.134,29,0,Female
8,2,197.000000,70.000000,45.000000,543,30.500000,0.158,53,1,Female
9,8,125.000000,96.000000,19.195652,0,0.000000,0.232,54,1,Female
10,4,110.000000,92.000000,0.000000,0,31.564286,0.191,30,0,Female
11,10,168.000000,74.000000,0.000000,0,38.000000,0.537,34,1,Female
12,10,129.255814,80.000000,0.000000,0,27.100000,1.441,57,0,Female
13,1,189.000000,60.000000,23.000000,846,30.100000,0.398,59,1,Female
14,5,166.000000,72.000000,19.000000,175,25.800000,0.587,51,1,Female
15,7,100.000000,0.000000,0.000000,0,30.000000,0.484,32,1,Female
16,0,118.000000,84.000000,47.000000,230,45.800000,0.551,31,1,Female
17,7,107.000000,74.000000,0.000000,0,31.564286,0.254,31,1,Female
18,1,129.255814,30.000000,38.000000,83,43.300000,0.183,33,0,Female
19,1,115.000000,70.000000,30.000000,96,34.600000,0.529,32,1,Female
20,3,126.000000,88.000000,41.000000,235,39.300000,0.704,27,0,Female
21,8,99.000000,84.000000,0.000000,0,35.400000,0.388,50,0,Female
22,7,196.000000,70.276596,0.000000,0,39.800000,0.451,41,1,Female
23,9,119.000000,80.000000,35.000000,0,29.000000,0.263,29,1,Male
24,11,143.000000,94.000000,33.000000,146,36.600000,0.254,51,1,Male
25,10,125.000000,70.000000,26.000000,115,31.100000,0.205,41,1,Male
26,7,129.255814,76.000000,0.000000,0,31.564286,0.257,43,1,Male
27,1,97.000000,66.000000,15.000000,140,23.200000,0.487,22,0,Male
28,13,145.000000,82.000000,19.000000,110,22.200000,0.245,57,0,Male
29,5,117.000000,92.000000,0.000000,0,34.100000,0.337,38,0,Male
30,5,109.000000,75.000000,26.000000,0,36.000000,0.546,60,0,Male
31,3,129.255814,76.000000,36.000000,245,31.600000,0.851,28,1,Female
32,3,88.000000,58.000000,11.000000,54,24.800000,0.267,22,0,Female
33,6,92.000000,92.000000,0.000000,0,19.900000,0.188,28,0,Female
34,10,122.000000,78.000000,31.000000,0,31.564286,0.512,45,0,Female
35,4,103.000000,60.000000,33.000000,192,24.000000,0.966,33,0,Female
36,11,138.000000,76.000000,0.000000,0,33.200000,0.420,35,0,Female
37,9,102.000000,76.000000,37.000000,0,32.900000,0.665,46,1,Female
38,2,90.000000,68.000000,19.195652,0,31.564286,0.503,27,1,Female
39,4,111.000000,72.000000,47.000000,207,37.100000,1.390,56,1,Female
40,3,180.000000,64.000000,25.000000,70,34.000000,0.271,26,0,Female
41,7,133.000000,84.000000,0.000000,0,40.200000,0.696,37,0,Female
42,7,106.000000,92.000000,18.000000,0,22.700000,0.235,48,0,Female
43,9,171.000000,110.000000,24.000000,240,45.400000,0.721,54,1,Female
44,7,159.000000,64.000000,0.000000,0,27.400000,0.294,40,0,Female
45,0,180.000000,66.000000,39.000000,0,42.000000,1.893,25,1,Female
46,1,146.000000,56.000000,0.000000,0,29.700000,0.564,29,0,Female
47,1,93.000000,70.000000,31.000000,0,30.400000,0.315,23,0,Female

In [33]:
# mode to fill categorical variables
df_miss['Gender'].mode()

0    Female
Name: Gender, dtype: object

In [34]:
df_miss['Gender'].mode()[0]

'Female'

In [35]:
# dictionary to specify the column lables and values to use for filling
df_miss.fillna(value={'Gender':'Female'},inplace=True)
df_miss

,Pregnancies,Glucose,BloodPressure,SkinThickness,Insulin,BMI,DiabetesPedigreeFunction,Age,Outcome,Gender
0,6,148.000000,72.000000,35.000000,0,33.600000,0.627,50,1,Male
1,1,85.000000,66.000000,29.000000,0,26.600000,0.351,31,0,Male
2,8,183.000000,64.000000,0.000000,0,23.300000,0.672,32,1,Female
3,1,89.000000,66.000000,23.000000,94,31.564286,0.167,21,0,Female
4,0,137.000000,40.000000,35.000000,168,43.100000,2.288,33,1,Male
5,5,116.000000,74.000000,0.000000,0,25.600000,0.201,30,0,Female
6,3,129.255814,50.000000,32.000000,88,31.000000,0.248,26,1,Female
7,10,115.000000,0.000000,0.000000,0,35.300000,0.134,29,0,Female
8,2,197.000000,70.000000,45.000000,543,30.500000,0.158,53,1,Female
9,8,125.000000,96.000000,19.195652,0,0.000000,0.232,54,1,Female
10,4,110.000000,92.000000,0.000000,0,31.564286,0.191,30,0,Female
11,10,168.000000,74.000000,0.000000,0,38.000000,0.537,34,1,Female
12,10,129.255814,80.000000,0.000000,0,27.100000,1.441,57,0,Female
13,1,189.000000,60.000000,23.000000,846,30.100000,0.398,59,1,Female
14,5,166.000000,72.000000,19.000000,175,25.800000,0.587,51,1,Female
15,7,100.000000,0.000000,0.000000,0,30.000000,0.484,32,1,Female
16,0,118.000000,84.000000,47.000000,230,45.800000,0.551,31,1,Female
17,7,107.000000,74.000000,0.000000,0,31.564286,0.254,31,1,Female
18,1,129.255814,30.000000,38.000000,83,43.300000,0.183,33,0,Female
19,1,115.000000,70.000000,30.000000,96,34.600000,0.529,32,1,Female
20,3,126.000000,88.000000,41.000000,235,39.300000,0.704,27,0,Female
21,8,99.000000,84.000000,0.000000,0,35.400000,0.388,50,0,Female
22,7,196.000000,70.276596,0.000000,0,39.800000,0.451,41,1,Female
23,9,119.000000,80.000000,35.000000,0,29.000000,0.263,29,1,Male
24,11,143.000000,94.000000,33.000000,146,36.600000,0.254,51,1,Male
25,10,125.000000,70.000000,26.000000,115,31.100000,0.205,41,1,Male
26,7,129.255814,76.000000,0.000000,0,31.564286,0.257,43,1,Male
27,1,97.000000,66.000000,15.000000,140,23.200000,0.487,22,0,Male
28,13,145.000000,82.000000,19.000000,110,22.200000,0.245,57,0,Male
29,5,117.000000,92.000000,0.000000,0,34.100000,0.337,38,0,Male
30,5,109.000000,75.000000,26.000000,0,36.000000,0.546,60,0,Male
31,3,129.255814,76.000000,36.000000,245,31.600000,0.851,28,1,Female
32,3,88.000000,58.000000,11.000000,54,24.800000,0.267,22,0,Female
33,6,92.000000,92.000000,0.000000,0,19.900000,0.188,28,0,Female
34,10,122.000000,78.000000,31.000000,0,31.564286,0.512,45,0,Female
35,4,103.000000,60.000000,33.000000,192,24.000000,0.966,33,0,Female
36,11,138.000000,76.000000,0.000000,0,33.200000,0.420,35,0,Female
37,9,102.000000,76.000000,37.000000,0,32.900000,0.665,46,1,Female
38,2,90.000000,68.000000,19.195652,0,31.564286,0.503,27,1,Female
39,4,111.000000,72.000000,47.000000,207,37.100000,1.390,56,1,Female
40,3,180.000000,64.000000,25.000000,70,34.000000,0.271,26,0,Female
41,7,133.000000,84.000000,0.000000,0,40.200000,0.696,37,0,Female
42,7,106.000000,92.000000,18.000000,0,22.700000,0.235,48,0,Female
43,9,171.000000,110.000000,24.000000,240,45.400000,0.721,54,1,Female
44,7,159.000000,64.000000,0.000000,0,27.400000,0.294,40,0,Female
45,0,180.000000,66.000000,39.000000,0,42.000000,1.893,25,1,Female
46,1,146.000000,56.000000,0.000000,0,29.700000,0.564,29,0,Female
47,1,93.000000,70.000000,31.000000,0,30.400000,0.315,23,0,Female

In [ ]:
df_miss.